@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>

<p>This is a Web API plus Web App that I have created through the following tutorials:
    <br />
    <ul>
        <li><a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-web-api">
            Building Your First Web API with ASP.NET Core MVC and Visual Studio</a></li>
        <li><a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/">
            Building your first ASP.NET Core MVC app with Visual Studio</a></li>
    </ul>
</p>